.chart-container {
  display: inline-block;
  position: absolute;
  margin: 0px 10px;
  background-color: white;
  width: calc(100% - 300px);
  th, td {
    padding: 10px;
    text-align: left;
  }

  table {
    width: 100%;
  }
  td {
    color: darkgrey;
    border-bottom: 1px solid lightgrey;
  }
}
